.head {
    height: 100px;
    background-color: rgb(58, 57, 55);
    padding-top: 15px;
    padding-left: 15px;
}
.head-sub{
    color: white;
    text-decoration: none;
}
.head-sub:hover{
    color: orange;
}
a{
    margin-right: 200px;
}
#logo{
    font-size: 60px;
    color: rgb(247, 167, 7);
    text-decoration: none;
}
.richie-list{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
    justify-items: center;

}
p{
    text-align: center;
    font-size: 15px;
}
.btn{
    font-size: medium;
    margin-left: 70px;
}
.btn:hover{
    cursor: pointer;
    background-color: orange;
}